<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <defaultDocument>
        <files>
          <add value="iisstart.htm" />
        </files>
      </defaultDocument>
      <aspNetCore processPath="dotnet" arguments=".\myWebAppUsing-NET-GitHub.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <!-- Add any environment variables required here -->
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
</configuration>
